@model OracleProjectMiedterm.Models.Customer

<div class="card">
	<div class="card-header text-uppercase">
		<h4 class="h4">Add New Customer</h4>
	</div>
	<div class="card-body">
		<form asp-action="Store" enctype="multipart/form-data" asp-controller="Customer" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="row">
				<div class="form-group col-sm-4">
					<label asp-for="CustomerCode" class="control-label"></label>
					<input asp-for="CustomerCode" placeholder="CustomerCode" class="form-control" />
					<span asp-validation-for="CustomerCode" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-4">
					<label asp-for="Images" class="control-label">Image User</label>
					<input asp-for="Images" type="file"  class="form-control"/>
                    <span asp-validation-for="Images" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-4">
					<label asp-for="CustomerName" class="control-label"></label>
					<input asp-for="CustomerName" placeholder="CustomerName" class="form-control" />
					<span asp-validation-for="CustomerName" class="text-danger"></span>
				</div>
			</div>
			<div class="row">
				<div class="form-group col-sm-3">
					<label asp-for="Sex" class="control-label"></label>
					<select asp-for="Sex" class="custom-select">
						<option>Please Select Your Sex</option>
						<option value="M">M</option>
						<option value="F">F</option>

					</select>
					<span asp-validation-for="Sex" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-3">
					<label asp-for="Dob" class="control-label"></label>
					<input asp-for="Dob" placeholder="DOB" type="date" class="form-control" />
					<span asp-validation-for="Dob" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-3">
					<label asp-for="Pob" class="control-label"></label>
					<input asp-for="Pob" placeholder="POB" type="text" class="form-control" />
					<span asp-validation-for="Pob" class="text-danger"></span>
				</div>
				<div class="form-group col-sm-3">
					<label asp-for="Phone" class="control-label"></label>
					<input asp-for="Phone" placeholder="PHONE" type="tel" class="form-control" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Address" class="control-label"></label>
				<textarea asp-for="Address" placeholder="ADDRESS" class="form-control"></textarea>
				<span asp-validation-for="Address" class="text-danger"></span>
			</div>
			@* <div class="form-group form-check">
				<label class="form-check-label">
					<input type="checkbox" asp-for="IsHidden" checked="@Model.IsHidden ?? false" class="form-check" />

				</label>
			</div> *@
			<div class="form-group">
				<button type="submit" class="btn btn-success btn-sm float-right ml-1">Add New </button>
				<a asp-action="Index" class="btn btn-danger btn-sm float-right">Cancel</a>
			</div>
		</form>
	</div>
</div>
