<aside class="main-sidebar sidebar-dark-primary elevation-4">

    <a href="index3.html" class="brand-link">

        <img src="~/admin-lte/img/adminltelogo.png" class="brand-image img-circle elevation-3" style="opacity: .8" />

        <span class="brand-text font-weight-light"> Oracel Midterm </span>
    </a>

    <div class="sidebar">
            
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                

                <img src="~/admin-lte/img/19e726d2dfa7e1fc7ec2f99f640081cf.jpg" class="image-circle elevation-3" alt="User Image" style="opacity: .8" />

            </div>
            <div class="info">
                <a href="#" class="d-block">Theavann</a>
            </div>
        </div>

        @*   <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
        <button class="btn btn-sidebar">
        <i class="fas fa-search fa-fw"></i>
        </button>
        </div>
        </div>
        </div> *@

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-header"></li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-house"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-users-line"></i>
                        <p>
                            User Managerment
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="AppUser" class="nav-link">
                                <i class="fa-solid fa-user"></i>
                                <p> AppUer </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="AppuserPermission" class="nav-link">
                                <i class="fa-solid fa-gear"></i>
                                <p>AppUserPermission</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-users"></i>
                        <p>
                            Customer
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Customer" class="nav-link">
                                <i class="fa-solid fa-user-plus"></i>
                                <p> Customer List </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="CustomerType" class="nav-link">
                                <i class="fa-solid fa-user"></i>
                                <p> CustomerType </p>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Librarian" class="nav-link">
                        <i class="fa-solid fa-graduation-cap"></i>
                        <p>
                            Librarian
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Catalog" class="nav-link">
                        <i class="fa-solid fa-book"></i>
                        <p>
                            Catalog
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-solid fa-book-open"></i>
                        <p>
                            Book
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Book" class="nav-link">
                                <i class="fa-solid fa-book-open-reader"></i>
                                <p>Book List</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-action="Index" asp-controller="Category" class="nav-link">
                                <i class="fa-solid fa-list"></i>
                                <p>Category</p>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a asp-action="Index" asp-controller="Borrow" class="nav-link">
                        <i class="fa-solid fa-landmark"></i>
                        <p>
                            Borrow
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="fa-regular fa-user"></i>
                        <p>
                            Profile
                        </p>
                    </a>
                </li>


            </ul>
        </nav>

    </div>

</aside>
